@using WebSiteBanHang.Models;
@model IEnumerable<SanPham>


<div class="h_menu4">
    <ul class="memenu skyblue">
        <li class="showhide" style="display: none;"><span class="title">MENU</span><span class="icon1"></span><span class="icon2"></span></li>
        <li class="active grid" style="display: inline;"><a class="color8" href="@Url.RouteUrl("trangchu")">Home</a></li>
        @foreach (var GroupItem in Model.GroupBy(n => n.LoaiSanPham))
        {
            if (GroupItem.Key != null)
            {
                <li style="display: inline;">
                    <a class="color1" href="#">@GroupItem.Key.TenLoai</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <ul>
                                        @foreach (var item in GroupItem.GroupBy(n => n.NhaSanXuat))
                                        {
                                            if (item.Key != null)
                                            {
                                                @*<li><a href="@Url.Action("SanPham", "SanPham", new { maloai = GroupItem.Key.MaLoaiSP, mansx = item.Key.MaNSX })">@item.Key.TenNSX</a></li>*@
                                                <li><a href="@Url.RouteUrl("thuonghieu",new {  @maloai =GroupItem.Key.MaLoaiSP,@mansx=item.Key.MaNSX})">@item.Key.TenNSX</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }

        <li class="grid" style="display: inline;">
            <a class="color2" href="#">Thương Hiệu</a>
            <div class="mepanel">
                <div class="row">

                    @foreach (var GroupItem in Model.GroupBy(n => n.LoaiSanPham))
                    {
                        if (GroupItem.Key != null)
                        {
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>@GroupItem.Key.TenLoai</h4>
                                    <ul>
                                        @foreach (var item in Model.GroupBy(n => n.NhaSanXuat))
                                        {
                                            if (item.Key != null)
                                            {
                                                <li><a href="@Url.RouteUrl("thuonghieu",new {  @maloai =GroupItem.Key.MaLoaiSP,@mansx=item.Key.MaNSX})">@item.Key.TenNSX</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </li>
        <li style="display: inline;"><a class="color4" href="blog.html">Blog</a></li>
        <li style="display: inline;"><a class="color6" href="contact.html">Conact</a></li>
    </ul>
</div>